---
import type { CollectionEntry } from "astro:content";
import { ViewTransitions } from "astro:transitions";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SectionContainer from "../components/SectionContainer.astro";

import { SITE_METADATA } from "../consts";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const { title, description } = Astro.props;
---

<html lang={SITE_METADATA.language} class="scroll-smooth">
  <ViewTransitions />
  <BaseHead title={title} description={description} />
  <body class="text-black antialiased min-h-screen relative">
    <div class="grain"></div>

    <SectionContainer>
      <div class="flex flex-col justify-between font-sans">
        <Header />
        <main class="mb-auto">
          <slot />
        </main>
        <Footer />
      </div>
    </SectionContainer>
  </body>
</html>
